*
{
    color:aliceblue;
}
.instaIcon,
.linkedinIcon,
.xIcon {
  position: absolute;
  top: 13.25rem; /* 212px */
  left: 20.31rem; /* 821px */
  width: 2.5rem; /* 40px */
  height: 2.5rem; /* 40px */
  overflow: hidden;
}
.linkedinIcon,
.xIcon {
  top: 13.19rem; /* 211px */
  left: 25.38rem; /* 918px */
  width: 2.625rem; /* 42px */
  height: 2.625rem; /* 42px */
}
.xIcon {
  top: 13.44rem; /* 215px */
  left: 30.56rem; /* 1017px */
  width: 2.125rem; /* 34px */
  height: 2.125rem; /* 34px */
}
.image2Icon {
  position: absolute;
  top: 3.06rem; /* -47px */
  left: -14rem;
  width: 10.06rem; /* 321px */
  height: 10.19rem; /* 307px */
  object-fit: cover;
  z-index: 1;
}
.instaIconParent {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 20rem;
  width: 102.88rem; /* 1646.1px */
}
.teamenthalpyvitcgmailcom {
  position: relative;
  line-height: 1; /* 97.85% */
  display: inline-block;
  white-space: nowrap;
  max-width: 100%;
}
.frameChild {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-sm) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.teamenthalpyvitcgmailcomParent {
  position: absolute;
  top: 6.59rem; /* 105.5px */
  left: -10.31rem; /* 123px */
  width: 96.13rem; /* 1538px */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 2.34rem; /* 37.5px */
  max-width: 100%;
}
.frameParent {
  align-self: stretch;
  height: 16.25rem; /* 260px */
  position: relative;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
  font-family: var(--font-aldrich);
}
.vitLogo1Icon {
  height: 6.25rem; /* 100px */
  width: 13.75rem; /* 220px */
  position: relative;
  border-radius: var(--br-8xs);
  object-fit: cover;
}
.footer,
.vitLogo1Wrapper {
  width: 90.25rem; /* 1444px */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.footer {
  width: 120vw; /* 1920px */
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 var(--padding-193xl) var(--padding-187xl) var(--padding-28xl);
  gap: var(--gap-28xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 975px) {
  .footer {
    padding-left: var(--padding-4xl);
    padding-right: var(--padding-87xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 950px) {
  .teamenthalpyvitcgmailcom {
    font-size: var(--font-size-5xl);
    line-height: 1.44rem; /* 23px */
  }
}
@media screen and (max-width: 700px) {
  .footer {
    gap: var(--gap-4xl);
    padding-right: var(--padding-34xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .teamenthalpyvitcgmailcom {
    font-size: var(--font-size-lg);
    line-height: 1.13rem; /* 18px */
    color:white;
  }
}
