/* body {
    font-family: 'Orbitron', sans-serif;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding-right:40px;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1000;
    height: 60px; 
  }
  
  .logo img {
    height: 50px; 
    width: auto; 
    max-height: 100%; 
  }
  
  
  .menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu > li {
    position: relative;
    margin-left: 20px;
  }
  
  .dropbtn {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 10px; 
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #989898;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .submenu-content {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    background-color: black;
  }
  
  .submenu:hover .submenu-content {
    display: block;
  }
  
  .contact-us {
    background: none;
    border: 2px solid white;
    color: white;
    padding: 5px 15px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .contact-us:hover {
    background-color: violet;
    color: black;
  }
   */

@font-face {
  font-family: 'Aldrich';
  src: url('/Users/suman/Desktop/Enthalpy/Website/Enthalpy_Website/public/fonts/Aldrich/Aldrich-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

  body {
    font-family: 'Aldrich', sans-serif;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    position: fixed;
    padding-top: 2%;
    top: 0;
    width: 100vw;
    z-index: 1000;
    height: 100px; /* Set a fixed height for the navbar */
    padding-right: 40px;
    border-bottom: 2px solid rgb(112, 73, 162);
  }
  
  .logo img {
    display: flex;
    height: 65px; /* Adjust the image height */
    width: auto; /* Maintain aspect ratio */
    max-height: 100%; /* Ensure the image does not exceed the navbar height */
    transform: translate(10%,-20%);
  }
  
  .menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    position: relative;
    transform: translate(-240%, -50%);
  }
  
  /* For screens larger than 1200px */
  @media (min-width: 920px) {
    .menu {
      transform: translate(-150%, -50%);
    }
  }
  
  /* For screens between 768px and 1199px */
  @media (min-width: 820px) and (max-width: 1199px) {
    .menu {
      transform: translate(-150%, -50%);
    }
  }
   /* For screens between 768px and 1199px */
  @media (min-width: 820px) and (max-width: 1199px) {
    .menu {
      transform: translate(-150%, -50%);
    }
  }
    /* For screens between 768px and 1199px */
    @media (min-width: 760px) and (max-width: 820px) {
      .menu {
        transform: translate(-150%, -50%);
      }
    }
  /* For screens smaller than 768px */
  @media (max-width: 767px) {
    .menu {
      transform: translate(-100%, -50%);
    }
  }
  
  .menu > li {
    position: relative;
    margin-left: 20px;
  }
  
  .dropbtn {
    background: none;
    border: 1px solid transparent;
    padding-top: 38px;
    padding-bottom: 38px;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 2px;
    position: relative;
    text-align: center;
    transform: translate(0%, 35%);
  }
  .dropbtn:hover
  {
    color:rgb(209, 94, 161);
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    text-align: center;
    background-color: rgba(29, 29, 29, 0.88);
    width: calc(100% + 10px); /* Adjust width to fill the navbar */
    z-index: 1;
    margin-top: 36px; /* Ensures dropdown starts below navbar */
    left: -5px;
    border: 1px white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    letter-spacing: 2px;
  }
  
  .dropdown-content a:hover {
    color:rgb(224, 122, 153);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    color:rgb(209, 94, 161);
    
  }
  
  .submenu-content {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    background-color: black;
  }
  
  .submenu:hover .submenu-content {
    display: block;
  }
  
  .contact-us {
    display: flex;
    background: none;
    border: 1px solid white;
    border-radius: 5px;
    color: #ffffff;
    padding: 15px 10px 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    position: absolute;
    right: 20px; /* Adjust this value to position the button */
    top: 50%; /* Center vertically */
    transform: translate(-5%,-48%);
    font-family: 'Aldrich', sans-serif;
    font-size: 150%;
    letter-spacing: 2px;
  }
  
  .contact-us:hover {
    -webkit-text-stroke: 0.5px rgb(137, 0, 245);
    color:white;
    border: 1px solid rgb(215, 166, 255);
  }
  