.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #000000;
    color: white;
  }
  
  .navbar-logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .navbar-menu {
    display: flex;
    gap: 20px;
  }
  
  .navbar-item {
    position: relative;
    cursor: pointer;
  }
  
  .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #444;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .dropdown-item {
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .dropdown-item:hover {
    background-color: #555;
  }
  
  .navbar-contact {
    margin-left: auto;
  }
  
  .contact-button {
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    border-radius:5px;
    transition: background-color 0.3s;
  }
  
  .contact-button:hover {
    color: rgb(184, 181, 255);
    border: 1px solid rgb(184, 181, 255);
  }
  