body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px;
    position: absolute;
    width: 100%;
    top: 0;
    /* z-index: 1000; */
  }
  
  .logo {
    color: white;
    font-size: 24px;
  }
  
  .menu {
    display: flex;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-size: 150%;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content .submenu {
    position: relative;
  }
  
  .dropdown-content .submenu-content {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .submenu:hover .submenu-content {
    display: block;
  }
  
  .contact-us a {
    color: white;
    padding: 16px;
    text-decoration: none;
  }
  
  .contact-us a:hover {
    color: pink;
  }
  